@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
body{
    display: flex;
    flex-direction: column;
}
.maindiv{
    padding-left: 0;
    padding-right: 0;
    margin:0;
    width: 100%;
}

nav{
   margin-bottom: 15px;
   padding-top: 25px;
}
.primaryBtnDiv{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;

}
.topcard{
    background-image:linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%)),url(./images/bg-pattern-intro-mobile.svg);
    font-family:'Overpass',sans-serif;
    color: white;
    border-radius: 0 0 0 25px;
    font-weight: 600;
    padding-top: 25px;
    margin-bottom: 25px;
}
.grow{
    font-weight: 300;
    padding-left: 35px;
    padding-right: 35px;
}
.startBtn{
    
    color: hsl(353, 100%, 62%);
    border-color: transparent;
    width: 125px;
    height: 35px;
}
.learnMore{
    background-color: transparent;
    margin-top: 5px;
    width: 125px;
    color: white;
    border-color: white;
    height: 35px;
}
.signUpLi{
    margin-top: 10px;
}
.primaryBtnDiv{
    flex-direction: column;
    align-items: center;

}
.dropdownMenu{
    background-color: transparent;
    border-color: transparent;
}
.dropdown-item{
    color: white;
}
#editorImg{
   transform: translate(-15px,0);
}
.heads{
    font-family: 'Ubuntu', sans-serif;
    color: hsl(208, 49%, 24%);
    font-weight: 800;
}
#firstPar{
    font-family: 'Ubuntu',sans-serif;
    font-weight: 300;
    color: hsl(207, 13%, 34%);
}







@media (min-width: 800px){
    .signUpLi{
        margin-top: 0;
        margin-left: 10px;
    }
    .dropdownMenu{
        background-color: white;
        
    }
    .dropdown-item{
        color: black;
    }
    #logo{
        margin-right: 25px;
    }
    
}